<form action="/lists/<%= params[:id] %>/edit" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter a new name for your list:</label>
    </dt>
    <dd>
      <input name="list_name" value="<%= params[:list_name] || session[:lists][params[:id].to_i][:name] %>" type="text">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>